@model IEnumerable<WebApplication1.Models.Product.Product>

    <h1> Product List </h1>
    
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th<>Price</>
            </tr>
        </thead>

        <tbody>
            @foreach (var product in Model) {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Price</td>
                </tr>
            }
        </tbody>
    </table>